body {
    font-family: Times New Roman, Arial; /*set a web safe font and a spare one*/
    color: whitesmoke; /* sets default colour of body text */
    font-size: large; /*sets default font size */
    background-image: url(../Images/IndexPic1.jpg); /* Credit https://pixabay.com/illustrations/fractal-abstract-background-physics-1280077/ */
    background-blend-mode: lighten; /*Lightens blend mode */
    line-height: 1.6em;/*Sets default text spacing */
    margin:0; /*Sets default margins */
    zoom: 80%; /*resets page to normal zoom values for consistency when switching page*/
}
ul {
    list-style:none; /*style for unordered lists removes circles */
}
a {
    text-decoration: none; /*removes underline from all hyperlinks*/
    color: #368200; /*changes color of hyperlinks to suit page style*/
}
a:hover{
    color: yellowgreen; /*changes color when hovering to indicate a hyperlink*/
}
#header{
    font-size: 16px;
}
.option1 { /*Class for first button sets options below */
    float: left; /*sets position to left */
    padding: 20px;/*adds padding inside element */
    border-radius: 10px; /*makes border smooth */
    background-color: whitesmoke; /*adds background colour*/
}
.option2{/*Class for second button sets options below */
    float:right;/*sets position to right */
    padding: 20px;/*adds padding inside element */
    border-radius: 10px;/*makes border smooth */
    background-color: whitesmoke;/*adds background colour*/
}
.option3 {/*Class for third button sets options below */
    float:top;/*sets position to middle */
    padding: 20px;/*adds padding inside element */
    border-radius: 10px;/*makes border smooth */
    background-color: whitesmoke;/*adds background colour*/
}
#section1 {
    text-align: center;  /*text alignment */
    font-size: 36px;  /*sets font size */
    border: 5px deepskyblue outset; /*adds a border to box*/
    margin: 20px;/*spacing around element*/
    border-radius: 5px; /*smoother borders */
    float: top; /*sets element position in page*/
    background-position: center; /*Sets position of background */
    padding: 10px; /*Padding inside element */
    background-color: white; /*blending colour for element */
    background-blend-mode:normal; /*type of blend */
    background-image: url(../Images/IndexPic1.jpg); /*Image free licence for use */
}
#Main\ title {
    font-family: arial, sans-serif;   /*choose font*/
    font-weight: bold; /* make bold */
    text-align: center; /* text alignment  */
}
#header {
    font-size: 16px; /* font size in header */
}
#section2 {
    text-align: center;/* text alignment  */
    font-size: 25px;/*choose font size*/
    border: 5px deepskyblue outset; /*adds a border to box*/
    margin: 20px;/*spacing around element*/
    border-radius: 5px; /*smoother borders */
    float: top; /*element position*/
}
#section3 {
    text-align: justify-all;
    border: 5px deepskyblue outset; /*adds a border to box*/
    margin: 20px;/*spacing around element*/
    border-radius: 5px; /*smoother borders */
    float: top;/*element position*/
    font-size: 25px;/*choose font size*/
}

